* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}
html {
    font-size: 62.5%;
  
    
}
#cajita{
    
    background: rgb(117, 51, 170);
    box-shadow: 0px 2px 30px 8px #333;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em; 
}
body {
    background: #1e1f24;
    color: white;
    text-align: center;
}

#Container { 
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    background-color:#fff; 
    display: flex;    
    flex-direction: initial;
    width: 80%;

    
    
}

.Cajacuadrado .CajaTriangulo .CajaCirculo {
    width: 270px;
    height: 325px;
    padding: 20px;
    justify-content: center;
    
}
section h3 {
    border-radius: 10%;
    width: 90%;
    background: #33A;
    box-shadow: 0px 2px 20px 8px #333;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 0.5em;
}
section label{
    color: black;
}
img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}
.cta {
    display: flex;
    align-items: center;
    color: black;
    background: none;
    border: none;
    padding: 12px 18px;
    position: relative;
 z-index: 2;
}
.cta::before {
    content: "";
    position:absolute;
    top: 50%;
    transform: translateY(-50%) translateX(calc(100% + 4px));
    width: 45px;
    height: 45px;
    background: rgb(117, 51, 170);
    border-radius: 50px;
    transition: transform .25s .25s cubic-bezier(0,0,.5,2), width .25s cubic-bezier (0,0,.5,2);
    z-index: -1;
    
}
.cta:hover::before {
    width: 100%;
    transform: translateY(-50%) translateX(-18px);
    transition: transform .25s cubic-bezier(0,0,.5,2), width .25s .25s cubic-bezier(0,0,.5,2);
}
.cta i {
    margin-left: 5px;
    transition: transform .25s .4s cubic-bezier(0,0,.5,2);
}
.cta:hover i {
transform: translateX(3px);
}